<form action="/user/create" method="post" class="form-signin" id="signup-form">
  <h2 class="form-signin-heading">Create an account</h2>

  <% if(flash && flash.err) { %>
  <ul class="alert alert-danger">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <li style="margin-left: 10px;"><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>

  <input type="text" class="form-control" placeholder="Name" name="name">
  <input type="text" class="form-control" placeholder="Title" name="title">
  <input type="text" class="form-control" placeholder="Email" name="email">
  <input type="password" class="form-control" placeholder="Password" id="password" name="password">
  <input type="password" class="form-control" placeholder="Confirm Password" name="confirmation">
  <br>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">

</form>
